---

---
<div id="language-selector" class="flex justify-center space-x-4 py-4">
    <a href="/en" class="cursor-pointer" title="English">🇺🇸</span>
    <a href="/" class="cursor-pointer" title="Español">🇪🇸</span>
    <a href="/pt-br" class="cursor-pointer" title="Português (BR)">🇧🇷</span>
  </div>